.modal-button {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    height: 5rem;
    background-color: white;
    border: none;
    font-size: 2rem;
}

.modal-button:hover {
    background-color: #dcdcdc;
    cursor: pointer;
}
